/* GRADIENT COLORS */

$buff-gd: hsla(47, 78%, 72%, 0.8);
$earth-yellow-gd: hsla(33, 64%, 60%, 0.7);
$lemon-yellow-crayola-gd: hsla(61, 95%, 84%, 0.7);
$light-yellow-gd: hsla(74, 100%, 93%, 0.8);

/* COLORS */

$nyanza: hsla(110, 29%, 85%, 1);
$light-yellow: hsla(74, 100%, 93%, 1);
$lemon-yellow-crayola: hsla(61, 95%, 84%, 1);
$buff: hsla(47, 78%, 72%, 1);
$earth-yellow: hsla(33, 64%, 60%, 1);
$black: hsla(0, 0%, 0%, 1);
$white: hsla(255, 100%, 100%, 1);