@import 'global';
@import 'variable';


body{
    background: linear-gradient(115deg, $lavender-web-bg, $dark-liver-bg), url(/resources/pexels-lukas-669578.jpg);
    background-size: cover;
    background-position: center;

    font-family: 'Mukta', sans-serif;
    color: $black;

    .main{
        display: grid;
        place-content: center;
        min-height: 100vh;

        .survey{
            display: flex;
            flex-direction: column;
            
            &-header{
                text-align: center;
                
                #title{
                    font-weight: 700;
                }

                #description{
                    font-style: italic;

                }
            }

            &-forms{
                background-color: $dark-liver;
                border-radius: 0.25rem;
                padding: 20px;
                
                

                .form-group{
                    display: flex;
                    flex-direction: column;
                    
                    width: 380px;
                }
            }
        }

        
    }


}