:root{
  
}


*, *::before, *::after{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Mukta", sans-serif;
}




body{
    /* background */
    background-color: var(--desert-sand);
    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
   
}

main{
    margin: 10% 25%;
}